<!-- header start -->
<%= render 'home_pages/header' %>
<!-- header end -->
<script>
    $.getXmppActivity().xmppStart();
</script>
<!-- container start -->
<div class="home-fixed">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <%= render 'home_pages/sidebar' %>
      </div>
      <div class="span9">
        <%= render 'home_pages/messagebox' %>
      </div>
    </div>
  </div>
  <!-- container end -->
  <!-- footer start -->
  <div class="chattext-bottom">
    <%= render 'home_pages/chatbox' %>
  </div>
  <%= render 'shared/video' %>
</div>
<!-- footer end -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p> Are you sure to disconnect current user? </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <a id='modal-yes' class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-toggle='tab' href='#notification'>Yes</a>
  </div>
</div>