<!-- header start -->
<%= render 'anonymous/header' %>
<!-- header end -->
<script>
    $.getXmppActivity().anonymous();
</script>
<!-- container start -->
<div class="home-fixed">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="chat-container span12">
        <div class="span3">
          <%= render 'home_pages/sidebar' %>
        </div>
        <div class="span9">
          <%= render 'home_pages/messagebox' %>
        </div>
      </div>
    </div>
  </div>
  <!-- container end -->
  <!-- footer start -->
  <div class="chattext-bottom">
    <%= render 'home_pages/chatbox' %>
  </div>
  <%= render 'shared/video' %>
</div>